.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 400px;
  overflow-y: auto;
}

.lastItem {
  height: 1px;
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb, .list::-webkit-scrollbar {
  appearance: none;
  width: 0;
}

